{% extends 'layout.html' %}
{% block content %}
<div class="jumbotron">
    <div class="container">
    <h1 class="display-3">Dev Ops Bug Reporting Site</h1>
        <p>
            Under the Module CSIT 314, team was tasked to emulate a project phase using Scrum<br>
            Team built a site to capture bugs encountered by user<br>
            Admin is able to evaluate and assign bugs to developers for fix<br>
            <br>
            Project Members:
                <li>Ng Kuang Yi</li>
                <li>Nyan Swan Aung</li>
                <li>Teng Yuan Jack</li>
                <li>Tan Guan Yi</li>
                <li>Teoh Nian Zhi</li>
                <li>Wong Teck Wei</li>
                <li>Muhammad Hazwan Bin Sabtu</li>
        </p>
    </div>
</div>
{% endblock %}